In [20]:
import pandas as pd
df1=pd.read_csv('/home/g6/Desktop/Fawzy/ag_news_csv/AG_News.csv')
df2 = pd.read_csv("/home/g6/Desktop/Fawzy/multinews_combined.csv")
df1.head()

,label,title,description,ID
0,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",0
1,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,1
2,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,2
3,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,3
4,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...",4

In [21]:
df1.drop(["ID", "label"], axis=1, inplace=True)
df1.head()

,title,description
0,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."

In [22]:
df2.drop(["Id", "Unnamed: 0"], axis=1, inplace=True)

In [23]:
df2.head()

,document,summary
0,The number of Americans seeking unemployment a...,– The unemployment rate dropped to 8.2% last m...
1,Shelly Sterling still wants to retain partial ...,"– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...
3,"On Monday night, while the rest of the world w...",– Tucker Carlson is in deep doodoo with conser...
4,Image caption A man has admitted removing anot...,– What are the three most horrifying words in ...

In [24]:
mnews_df = df2
agnews_df = df1

In [25]:
# title is the first 10 words of he summary column
mnews_df["title"] = mnews_df["summary"].apply(lambda x: " ".join(x.split()[:15]))
mnews_df.head()

,document,summary,title
0,The number of Americans seeking unemployment a...,– The unemployment rate dropped to 8.2% last m...,– The unemployment rate dropped to 8.2% last m...
1,Shelly Sterling still wants to retain partial ...,"– Shelly Sterling plans ""eventually"" to divorc...","– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...,– A twin-engine Embraer jet that the FAA descr...
3,"On Monday night, while the rest of the world w...",– Tucker Carlson is in deep doodoo with conser...,– Tucker Carlson is in deep doodoo with conser...
4,Image caption A man has admitted removing anot...,– What are the three most horrifying words in ...,– What are the three most horrifying words in ...

In [26]:
agnews_df

,title,description
0,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli..."
1,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
2,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
4,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
...,...,...
239995,Pakistan's Musharraf Says Won't Quit as Army C...,KARACHI (Reuters) - Pakistani President Perve...
239996,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...
239997,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...
239998,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...
239999,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...

In [27]:
# Rename description column to document
agnews_df.rename(columns={"description": "summary"},inplace=True)
agnews_df["document"] = agnews_df["title"] + "\n" + agnews_df["summary"]

In [28]:
agnews_df

,title,summary,document
0,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindli...",Wall St. Bears Claw Back Into the Black (Reute...
1,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...,Carlyle Looks Toward Commercial Aerospace (Reu...
2,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...,Oil and Economy Cloud Stocks' Outlook (Reuters...
3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...,Iraq Halts Oil Exports from Main Southern Pipe...
4,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco...","Oil prices soar to all-time record, posing new..."
...,...,...,...
239995,Pakistan's Musharraf Says Won't Quit as Army C...,KARACHI (Reuters) - Pakistani President Perve...,Pakistan's Musharraf Says Won't Quit as Army C...
239996,Renteria signing a top-shelf deal,Red Sox general manager Theo Epstein acknowled...,Renteria signing a top-shelf deal\nRed Sox gen...
239997,Saban not going to Dolphins yet,The Miami Dolphins will put their courtship of...,Saban not going to Dolphins yet\nThe Miami Dol...
239998,Today's NFL games,PITTSBURGH at NY GIANTS Time: 1:30 p.m. Line: ...,Today's NFL games\nPITTSBURGH at NY GIANTS Tim...
239999,Nets get Carter from Raptors,INDIANAPOLIS -- All-Star Vince Carter was trad...,Nets get Carter from Raptors\nINDIANAPOLIS -- ...

In [29]:
mnews_df

,document,summary,title
0,The number of Americans seeking unemployment a...,– The unemployment rate dropped to 8.2% last m...,– The unemployment rate dropped to 8.2% last m...
1,Shelly Sterling still wants to retain partial ...,"– Shelly Sterling plans ""eventually"" to divorc...","– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...,– A twin-engine Embraer jet that the FAA descr...
3,"On Monday night, while the rest of the world w...",– Tucker Carlson is in deep doodoo with conser...,– Tucker Carlson is in deep doodoo with conser...
4,Image caption A man has admitted removing anot...,– What are the three most horrifying words in ...,– What are the three most horrifying words in ...
...,...,...,...
55871,President Donald Trump will depart Canada stra...,– The traditional end-of-summit group photo at...,– The traditional end-of-summit group photo at...
55872,Sofia Coppola becomes the second woman to ever...,– Sofia Coppola scored a historic victory at t...,– Sofia Coppola scored a historic victory at t...
55873,(CNN) A federal criminal investigation into a ...,– The duck boat sinking that killed 17 on a Mi...,– The duck boat sinking that killed 17 on a Mi...
55874,Completely divorced from the question of wheth...,– Note to tweeting politicians: Watch what you...,– Note to tweeting politicians: Watch what you...
55875,A seemingly innocuous email exchange about a h...,"– ""STOP THE MADNESS!!!!,"" ""dear lord,"" and ""I ...","– ""STOP THE MADNESS!!!!,"" ""dear lord,"" and ""I ..."

In [43]:
import h5py
with h5py.File('AG_News.hdf5', 'r') as f:
     data=f['train']
     print(data.shape)
     #add a column to the dataframe with the embeddings
     agnews_df['embeddings'] = list(data)

(240000, 384)

In [45]:
agnews_df.drop_duplicates(subset=['title', 'summary'], inplace=True)

In [52]:
with h5py.File('Multinews.hdf5', 'r') as f:
     data=f['train']
     print(data.shape)
     #add a column to the dataframe with the embeddings
     mnews_df['embeddings'] = list(data)

(55876, 384)

In [54]:
merged_df = pd.concat([agnews_df, mnews_df], ignore_index=True)

In [65]:
import numpy as np
mergedData = merged_df['embeddings'].values

In [83]:
#unpack numpy array mergedData
mergedData2 = np.array([x for x in mergedData])

In [85]:
mergedData2

array([[-0.05868608,  0.04332964, -0.11880811, ..., -0.14612506,
         0.00640994,  0.05368018],
       [ 0.04417382, -0.05629938, -0.00747152, ..., -0.0717225 ,
        -0.06269588,  0.05697534],
       [-0.00654898,  0.0777274 ,  0.0622052 , ..., -0.07068736,
        -0.09775849,  0.10753042],
       ...,
       [ 0.03846901,  0.01998369,  0.03422137, ...,  0.02183323,
         0.12677158,  0.03889845],
       [ 0.02965014,  0.05117049, -0.00697348, ...,  0.04171812,
         0.0353776 ,  0.05644926],
       [ 0.02867422,  0.01158802, -0.06316372, ...,  0.13868965,
        -0.02413897, -0.03034789]], dtype=float32)

In [86]:
#add the embeddings column to a new h5 file
with h5py.File('merged.hdf5', 'w') as f:
        dset = f.create_dataset("train", data=mergedData2)
        f.attrs['distance']= 'angular'

In [91]:
merged_df.drop(["embeddings"], axis=1, inplace=True)

In [ ]:
merged_df= merged_df.reset_index(drop=True)
merged_df['Id']= merged_df.index

In [96]:
merged_df.to_csv('finalMerged.csv', index=False)